

.login {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
  color: white;
}
.item {
  width: 300px;
}
.separator {
  width: 1px;
  background: gray;
}
